body{
margin:0;
font-family:Arial;
background:#fff6f0;
}

header{
display:flex;
justify-content:space-between;
padding:15px;
background:#b3001b;
color:white;
}

.container{
padding:20px;
}

#productList{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
gap:10px;
}

.card{
background:white;
padding:10px;
border-radius:10px;
box-shadow:0 5px 15px rgba(0,0,0,.1);
}

.card img{
width:100%;
height:150px;
object-fit:cover;
}

button{
padding:10px;
border:none;
background:#b3001b;
color:white;
cursor:pointer;
border-radius:8px;
}
